ul {
  li {
    list-style: none;

    &:not(:last-child) {
      margin-bottom: 16px;
    }

    .icon-button {
      width: 48px;
      height: 48px;
      background-color: var(--primary-color);

      /* Secondary */
      border: 2px solid var(--secondary-color);
      border-radius: 50px;
      transition: all ease 0.8s;
      cursor: pointer;

      &:hover {
        background-color: var(--secondary-color);

        i {
          color: var(--primary-color);
        }
      }

      i {
        font-size: 24px;
        color: var(--secondary-color);
      }
    }
  }
}
