<div class="container-main">
  <div class="text-cta">
    <div class="text-cta-title">
      <span class="hello">Hello, it’s me</span>
      <span class="name">Luiz Felipe</span>
      <span class="sub-title">
        and I'm a <div class="griff">CO-LEADER FRONTEND</div>
      </span>
    </div>
    <button class="icon-download-resume">
      <i class="fa-solid fa-file-pdf"></i>
      <span>Download Resume</span>
    </button>
  </div>
  <div class="node-image">
    <img src="assets/img/nodejs.png">
  </div>
</div>