<!-- <div class="container">
  <button mat-icon-button color="primary"><mat-icon>menu</mat-icon></button>
  <nav>
    <ul>
      <li>Home</li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </nav>
</div> -->
<mat-toolbar>
  <button *ngIf="isMobile" mat-icon-button class="example-icon" (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span></span>
  <span class="example-spacer"></span>
  <div class="main-menu" *ngIf="!isMobile">
    <ul>
      <li><button mat-button routerLinkActive="active" routerLink="/">Home</button></li>
      <li><button mat-button routerLinkActive="active" routerLink="/about">About</button></li>
      <li><button mat-button routerLinkActive="active" routerLink="/skills">Skills</button></li>
      <li><button mat-button routerLinkActive="active" routerLink="/portifolio">Portifolio</button></li>
      <li><button mat-button routerLinkActive="active" routerLink="/contact">Contact</button></li>
    </ul>
  </div>
</mat-toolbar>