/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --primary: #20242d;
  --secondary: #01eefe;
  --clear-color: #f9f8f8;
  --white-color: #ffffff;
  --dark: #13151a;
}
