::ng-deep {
  app-portal {
    width: 100%;
    height: 100vh;
    display: block;

    background-color: var(--primary-color);
    color: var(--white-color);

    .example-spacer {
      flex: 1 1 auto;
    }

    mat-toolbar {
      background: transparent !important;
      color: var(--clear-color) !important;
    }

    mat-drawer-container {
      width: 100%;
      height: 100%;

      mat-drawer-content {
        display: flex !important;
        flex-direction: column;
        background-color: var(--primary-color);
      }
    }
  }
}
